@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap);
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;

  --vt-c-light-green: #44ba9f;
  --vt-c-light-grey: #e4e2e2;

  --vt-c-blue-light: #7f8c8d; /* Light blue for hover effects */

  --vt-c-blue: #3490dc;
  --vt-c-blue-dark: #265788; /* Dark blue for dark mode */
  --vt-c-grey: #2e2d2d;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-grey);
  --color-text: var(--vt-c-white);
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-text: var(--vt-c-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.45;
  font-family: Poppins;
  /* Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif; */
  /* font-size: 16px; */
  font-size: clamp (1.75rem, 3vh, 2.25rem);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

img {
  display: block; /* removes space due to inline setting with text */
  max-width: 100%; /* so that image doesnt overflow its container */
  height: auto;
}

header {
  z-index: 1;
}
